@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color:#EDFFF6;
    font-family:open sans;
    font-size:1.30em;
    Margin:auto;
    width:90%;
}

/*footer {
  text-align: right;
  color:#00609F;
}*/

.content {
    text-align: justify;
    margin:auto;
}

h1 {
    background-color:#A5E7C6; 
    text-align:center;
    font-size:2.5em;
    color:#000000;
    font-family: inherit;
    padding:0.50em;
    margin-bottom:0;
    margin-top:0;
    font-family:georgia;
}


h3 {
    text-align:left;
    font-size:1.25em;
    color:#00609F;
    font-family: cursive;
    margin-top:0.5em;
}


h5 {
    text-align:right;
    font-size:1.10em;
    color:#00609F;
    font-family: inherit;
    margin-bottom:0;
    margin-top:0;
} 

#begin {
    text-align:left;
    margin-left:5%;
}

.fitness {
    overflow:hidden;
    background-color:#86E6D1;
    bottom:0;
    position:fixed;
    font-family: monospace bold;
    text-decoration:none;
    text-align:left;
    padding:10px;
    font-size: 20px;
    display: block;
    word-spacing: 40px;
    opacity: 0.6;
   /* filter:alpha opacity(=60;*/
    color:#000000;
    flex-direction:column;
    margin:0px 95px;
    width:75%;
}

/*.fitness a: {
    float:left;
    display:block;
    color:#000000;
    text-align:center;
    text-decoration:none;
}  */

.fitness a:hover {
    text-decoration: none;
}   


.fitness .active {
    text-decoration: none;
}


.main {
    padding: 20px;
    margin-bottom:0px;
}


#box {
    padding:20px;
    margin-left:40px;
    float:left;
    margin-right:3%;
    margin-bottom:0.10em;
    display:block;
    height:40%;
    width:40%;
}


#wear {
  padding: 20px;
  margin:20px;
  float:right;
  flex-wrap:wrap;
  width: 20%;
  height: 5%;
  display:block;
}


#pix {   
    padding: 20px;
    margin:30px;
    float:right;
    margin-bottom:0.10em;
    flex-flow:wrap;
    height: 30%;
    width:30%;
    display:block;
}


h4 {
    text-align:center;
    font-size:30px;
    font-weight:bold;
    font-family:serif;
    color:#000000;
}


#speed {
    text-align: center;
    color:#000000;
    font-family: serif;
    text-decoration: none;
    list-style-type: none;
    background-color:#D3F0FF;
    /*font-size:25px;*/
    width:100%;
}


.miles {
    width:50%;
    margin:auto;
    text-align: left;
    border: 1px black solid;
    text-decoration:none;
    list-style-type:none;
}


#list {
    color:#00609F;
}


#yoga {
    border-radius: 50%;
    background-color:#cce6ff;
    left:auto;
    /*margin-left:60%;*/
    /*margin-right:50%;*/
    /*position:absolute;*/
    display:block;
    flex: auto;
    float:left;
    width: 20%;
    height:30%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:0;

}
    
#video {
    /*border-radius: 50%;*/
    background-color:#cce6ff;
    /*margin-left:60%;*/
    /*margin-right:50%;*/
    /*position:absolute;*/
    display:flex;
    flex: auto;
    width: 30%;
    height:40%;
    margin-left:35%;
    margin-right:0%;
    margin-bottom:0;
    margin:auto;

}

#runner {
    border-radius: 50%; 
    background-color:#cce6ff;
    height:50%;
    width: 20%;
    right:auto;
    /*margin-right:auto;*/
    /*margin-left:50%;
    margin-right:60%;*/
  /*position:absolute;*/
    display: flex;
    flex:auto;
    float:right;
} 

#line {
  
    text-align:center;
    color:#000000;
    font-family: serif;
    margin-top: 0;
    /*background-color: #f2e6ff;*/
    font-size: 1.10em;
    display:block;
    /*flex:flex-wrap;
    display:flex-wrap;*/
} 

#fit {
    /*background-color: #f2e6ff;*/
    text-align:center;
    font-family: georgia italic;
    font-size:1.15em;
    margin:0;
    /*flex:flex-wrap;
    display:flex-wrap;*/
    
}

.fit2 {
    font-size:1.15em;
    font-family: georgia italic;
    background-color:#ffffe6;
    text-align:justify;
    margin-left:23%;
    margin-right:5%;
    flex-flow:nowrap;
}


#idea {
    text-align: center;
    font: bolder;
    font-family:monospace;
    display:block;
    font-size: 1.25em;
}

.work {
    text-align: center;
    font-style: inherit;
    font-family: monospace;   
    display:inline-flex;
    background-color: #cce5ff;
    flex-wrap: wrap; 
    margin:auto;
}


#mon {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;  
}


#tue {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;
}


#wed {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;
}

#thu {
  padding: 10px; 
  width: 150px;
  font-size:25px;
  background-color:azure;
  margin:5px;
  line-height: 30px;
  text-align: center;
}


#fri {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;
}


#sat {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;
}


#sun {
    padding: 10px; 
    width: 150px;
    font-size:25px;
    background-color:azure;
    margin:5px;
    line-height: 30px;
    text-align: center;
}


#glass {
    border:10px solid double;
    padding:5px;
    margin-left:0;
    background-color:#ffffe6;
    float:left;
    width:35%;
    margin-right:15%;
    margin-bottom:0.25em;
    height:16em;
    display:block;
}


#food {
    border:10px solid double;
    padding: 5px;
    background-color:#ffffe6;
    float:right;
    width:25%;
    margin:5%;
    margin-bottom:0.5em;
    height:12em;
    display:block; 
}  


.parallelogram {
  width: 700px;
  height: 0px;
  transform: skew(10deg);
  background: #555;
}

/*.parallelogram-twice {
  width: 700px;
  height: 0px;
  transform: skew(25deg);
  background: #555;
  rotation:180deg;
}*/

.read {
  text-align: left;
  margin:auto;
  
}

.trail {
  text-align: left;
  margin:20px;
  display:block;
}
  
span {
    color: red;
    font-family: serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
}


#eat {
    text-align:justify;
    color:#000000;
    font-family: serif;
    text-decoration: none;
    margin-top: 0px; 
    background-color:#ffffe6;
}

ul li {
    display: block;
}

ol li {
    color:#00609F;
    font: bold;
}

img {
    /*width:300px;*/
    display:flex;
    flex-flow:wrap;
    /*margin-left:5px;*/
    border-style:outset;
    border-color:#b299e6;
    border-width:10px;
    max-width:100%;
    height:auto;
}

/*.mat {
  display:flex;
  flex-wrap:nowrap;
  margin-right:90%;
  width: 220px;
  height: 300px;
}*/

/*@media (min-width:600px) {
    body
}*/

    

